/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
header {
  color: #E2E2E2;
  background-color: #384D48;
  border-bottom: solid black .1rem;
}

h1 {
  font-size: 5rem;
  padding: 0 1rem;
  vertical-align: baseline;
  letter-spacing: .2rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #6E7271;
  background-color: #E2E2E2;
  padding: .5rem 1rem;
  margin: 0;
}

a:hover {
  color:  #E2E2E2;
  background-color: #6E7271;
  transition: .3s;
}

#current-page {
  color:  #E2E2E2;
  background-color: #6E7271;
}

nav {
  padding: 0 8% 2%;
  display: flex;
}

section {
  margin: 1%;
}

.title {
  display: flex;
  margin: 1%;
}

.intro {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 4% 0 0 6%;
}

p {
  color: #384D48;
  max-width: 600px;
  text-align: justified;
}

h2 {
  color: #384D48;
  font-size: 3rem;
  margin: .5rem 0;
}

.intro a {
  margin: 1.5rem 0;
}
